* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;

}

.container {
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px rgba(9, 9, 9, 0.1);
    padding: 20px;
    border-radius: 40px;
    margin-top: 250px;
    height: 350px;
    width: 350px;
}

input {
    margin-top: 20px;
    border-radius: 10px;
    width: 350px;
    height: 40px;
}


#btnlogin {
    margin-top: 20px;
    background-color:#0866ff;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    color: white;
}


.container-1 {
    justify-content: center;
    text-align: center;
    display: flex;
    background-color: whitesmoke;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 250px;
    height: 480px;
    width: 420px;
    border-radius: 35px;
}

#btnsignup {
    margin-top: 12px;
    background-color:#0866ff;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    color: white;
}

#btnfacebook {
    margin-top: 10px;
    background-color: #0866ff;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    border-radius: 10px;
}

#btngoogle {
    margin-top: 20px;
    background-color: rgb(245, 247, 247);
    border-radius: 5px;
    width: 350px;
    height: 40px;
    border-radius: 10px;
}

.fb-container {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: #ffff;
    background-color: #0866ff;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.fb-logo {
    display: flex;
    width: 32px;
    height: 32px;
}

.fb-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #ffff;
}

.google-container {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    color: #000;
    background-color: #ffff;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.google-logo {
    display: flex;
    width: 28px;
    height: 28px;
}

.google-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28px;
    background-color: transparent;
    border: none;
    color: #000;
}

.separator {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.separator hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #000;
}